<h1 class="bg-warning text-white text-center">Contact Files</h1>
<%= render 'shared/flash_messages' %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Imported File name</th>
      <th scope="col">Row Mapping</th>
      <th scope="col">Status</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
    <tr>
      <td><%= file.csv.attached? ? file.csv.filename : 'File Not Found' %></td>
      <td>
        <pre><%= file.row_config.transform_values{ |v| v.to_i + 1 }.to_json %></pre>
      </td>
      <td><%= file.status.titleize %></td>
      <td><a href="<%= file.csv.attached? ? file.csv.url : 'file not found'%>">Download</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_nav(@pagy) %>