<h1 class="bg-warning text-white text-center">Import contacts</h1>
<%= render 'shared/flash_messages' %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Impor Csv file</h3>
      <h5> Instructions </h5>
      <p></p>
    </div>
    <div class="col-sm-6">
      <div class="row mb-2">
        <%= form_for(@contact_info, url: contact_importer_index_path, method: :post) do |f| %>
          <div class="row">
            <span class="mb-2 mt-2"> CSV File:  </span>
            <%= f.file_field :csv, class: 'col-sm-12' %>
          </div>
          <div class="row">
            <span class="mb-2 mt-2"> CSV ROW configuration:  </span>
            <% ContactInfoCsv::ROW_CONFIG_NAME_MAPPING.each do |key, label| %>
              <div class="row">
                <%= f.label label %>
                <%= f.number_field key %>
              </div>
            <% end %>
          </div>
        </div>
        <%= f.submit 'Submit' %>
      <% end %>
    </div>
  </div>
</div>