<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ContactAppNavbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item m-1">
        <%= link_to "Contacts", contacts_path %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "Contact Errors", contact_errors_path %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "Contacts Files", contact_importer_index_path %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "Import Contacts", new_contact_importer_path %>
      </li>
    </ul>
  </div>
</nav>