<h1 class="bg-warning text-white text-center">Contacts</h1>
<%= render 'shared/flash_messages' %>
<table class="table">
  <thead>
    <tr>
      <% ContactInfoCsv::ROW_CONFIG_NAME_MAPPING.each do |key, label|%>
        <th scope="col"><%= label %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <% ContactInfoCsv::ROW_CONFIG_NAME_MAPPING.each do |key, label|%>
          <td><%= contact.try(key) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_nav(@pagy) %>