<h1 class="bg-danger text-white text-center">Contact Error Logs</h1>
<%= render 'shared/flash_messages' %>
<table class="table">
  <thead>
    <tr>
      <% ContactsErrorLog::NAME_MAPPING.each do |key, label|%>
        <th scope="col"><%= label %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |contact| %>
      <tr>
        <% ContactsErrorLog::NAME_MAPPING.each do |key, label|%>
          <td><%= contact.try(key) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_nav(@pagy) %>